.nascondi {
	display: none;
}

.showPersonaNomeDisattivata {
	background-color: #F71E21 !important;

}

#btDettaglioPersonaStato {
	width: 130px;
}


.btDichiarazione{
	height: 40px;
}


table {
	border-collapse: collapse;
}

td.personaTabCorso{
	padding-right:20px;
}

#debug {
	display: none;
}

td.ckTab{
	width: 125px;
	margin: 0 auto;
	text-align:center;
}

ul{
	list-style-type:none;
	line-height:2;
}

.numeroPersoneCategoria {
	padding-top:5px;
	padding-bottom:15px;
	padding-left:20px;
}

.iscrizioneAnnuale {
width: 50px;
height: 50px;
background:#F9F9F9;
background-image: url(assets/checkVuoto.png);
border-radius: 5px;
display:table;
margin:0 auto;
}

.certificatoMedicoAnnuale {
width: 50px;
height: 50px;
background:#F9F9F9;
background-image: url(assets/checkVuoto.png);
border-radius: 5px;
display:table;
margin:0 auto;
}

.iscrizioneMensile {
width: 50px;
height: 50px;
background:#F9F9F9;
background-image: url(assets/checkVuoto.png);
border-radius: 5px;
display:table;
margin:0 auto;
}

.presenza {
width: 50px;
height: 50px;
background:#F9F9F9;
background-image: url(assets/checkVuoto.png);
border-radius: 5px;
display:table;
margin:0 auto;
}

.checkboxchecked {
background:#F9F9F9;
background-image: url(assets/checkOK.png);
border-radius: 5px;
display:table;
margin:0 auto;
}


#datiPalestraRiga2 .ui-block-a{
	width:45% !important;
}
#datiPalestraRiga2 .ui-block-b{
	width:10% !important;
}
#datiPalestraRiga2 .ui-block-c{
	width:45% !important;
}


#datiPersonaRiga3 .ui-block-a{
	width:40% !important;
}
#datiPersonaRiga3 .ui-block-b{
	width:10% !important;
}
#datiPersonaRiga3 .ui-block-c{
	width:25% !important;
}
#datiPersonaRiga3 .ui-block-d{
	width:7% !important;
}
#datiPersonaRiga3 .ui-block-e{
	width:18% !important;
}


#datiPersonaRiga4 .ui-block-a{
	width:28% !important;
}
#datiPersonaRiga4 .ui-block-b{
	width:28% !important;
}
#datiPersonaRiga4 .ui-block-c{
	width:44% !important;
}


#datiCorsoRiga2 .ui-block-a{
	width:40% !important;
}
#datiCorsoRiga2 .ui-block-b{
	width:60% !important;
}


#datiCorsoRiga3 .ui-block-a{
	width:30% !important;
}
#datiCorsoRiga3 .ui-block-b{
	width:70% !important;
}



.txtCategoriaNome{
	width:90%;
	padding-left:10px;
    padding-right:10px;
}

.txtCategoriaGrado{
	width:80%;
	padding-left:10px;
    padding-right:10px;
}
 
.txtCategoriaEta{
	width:70% !important;
	text-align:center;
}

.ui-grid-d.listaCategorieTableRow .ui-block-a{
	width:30% !important;
	text-align:center;
}
.ui-grid-d.listaCategorieTableRow .ui-block-b{
	width:40% !important;
	text-align:center;
}
.ui-grid-d.listaCategorieTableRow .ui-block-c{
	width:6% !important;
	text-align:center;
}
.ui-grid-d.listaCategorieTableRow .ui-block-d{
	width:6% !important;
	text-align:center;
}
.ui-grid-d.listaCategorieTableRow .ui-block-e{
	width:10% !important;
	padding-left:10px;
}


.nascosto{
    display: none;
}
